<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear Activo Fijo - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true"
                          closable="true" collapsible="true" style="align-content: center">
                <p:panel id="headerPnl" style="background-color: #99ccff">
                <h2>CREAR ACTIVO FIJO</h2>
                </p:panel>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                        
                        
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
         
            <p:layoutUnit position="center">
                <!-- para mostrar mensaje -->
                <p:growl id="growl" showDetail="true" life="5000" />
                <h:form>
                    <p:panel header="Crear Activo">
                        <p:panelGrid columns="2" layout="grid">
                            <p:outputLabel for="activoFijo-id" value="id:"/>
                            <p:inputText disabled="true"
                                id="activoFijo-id"
                                value="#{activoFijoBean.activoFijo.id}" />
                            
                            <p:outputLabel for="activoFijo-desc" value="Descripción:"/>
                            <p:inputText
                                id="activoFijo-desc"
                                value="#{activoFijoBean.activoFijo.descripcion}" />
                            
                            <p:outputLabel for="activoFijo-marca" value="Marca:"/>
                            <p:inputText
                                id="activoFijo-marca"
                                value="#{activoFijoBean.activoFijo.marca}" />
                            
                            <p:outputLabel for="activoFijo-modelo" value="Modelo:"/>
                            <p:inputText
                                id="activoFijo-modelo"
                                value="#{activoFijoBean.activoFijo.modelo}" />
                            
                            <p:outputLabel for="activoFijo-ubicacion" value="Ubicacion:"/>
                            <p:inputText
                                id="activoFijo-ubicacion"
                                value="#{activoFijoBean.activoFijo.ubicacion}" />
                            
                            <p:outputLabel for="activoCirculante-precio" value="Precio:"/>
                            <p:inputNumber decimalPlaces="2"
                                id="activoCirculante-precio"
                                value="#{activoFijoBean.activoFijo.precio}" />
                            
                            <p:outputLabel for="activoFijo-observaciones" value="Observaciones:"/>
                            <p:inputText
                                id="activoFijo-observaciones"
                                value="#{activoFijoBean.activoFijo.observaciones}" />
                            
                        </p:panelGrid>
                        <p:commandButton value="Crear" style="background-color: greenyellow"
                                         action="#{activoFijoBean.create()}" ajax="false"/>

                        <p:linkButton value="Cancelar" style="background-color: crimson" href="index.xhtml" />
                    </p:panel>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

