<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear Item de inventario - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true"
                          closable="true" collapsible="true" style="align-content: center">
                <p:panel id="headerPnl" style="background-color: #99ccff">
                <h2>CREAR ITEM</h2>
                </p:panel>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                                                
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
         
            <p:layoutUnit position="center">
                <!-- para mostrar mensaje -->
                <p:growl id="growl" showDetail="true" life="5000" />
                <h:form>
                    <p:panel header="Crear Item">
                        <p:panelGrid columns="2" layout="grid">
                            <p:outputLabel for="inventario-id" value="id:"/>
                            <p:inputText disabled="true"
                                id="inventario-id"
                                value="#{inventarioBean.inventario.id}" />
                            
                            <p:outputLabel for="inventario-desc" value="Descripción del item:"/>
                            <p:inputText
                                id="inventario-desc"
                                value="#{inventarioBean.inventario.descripcion}" />
                            
                            <p:outputLabel for="inventario-categoria" value="Categoria:"/>
                            <p:inputText id="inventario-categoria"
                                         value="#{inventarioBean.inventario.categoria}" />
                                                        
                        </p:panelGrid>
                        <p:commandButton value="Crear" style="background-color: greenyellow"
                                         action="#{inventarioBean.create()}" ajax="false"/>

                        <p:linkButton value="Cancelar" style="background-color: crimson" href="index.xhtml" />
                    </p:panel>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

