<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Inventario - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true"
                          closable="true" collapsible="true" style="align-content: center">
                <p:panel id="headerPnl" style="background-color: #99ccff">
                <h2>INVENTARIO</h2>
                </p:panel>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                        
                        
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
         
            <p:layoutUnit position="center">
                <h:form> 
                    <!-- barra de botones -->
                    <h:commandButton id="btnCrearItem" style="background-color: greenyellow"
                                     action="create" value="Crear Item" />
                    
                </h:form>
                
                <p:dataTable var="inventario" value="#{inventarioBean.listado}" paginator="true" rows="10">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Id:" />
                        </f:facet>
                        <h:outputText value="#{inventario.id}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Descripcion del item:" />
                        </f:facet>
                        <h:outputText value="#{inventario.descripcion}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Categoria:" />
                        </f:facet>
                        <h:outputText value="#{inventario.categoria}" />
                    </p:column>
                    
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Acciones" />
                            
                        </f:facet>
                        <p:linkButton value="Editar" style="background-color: #00ccff" outcome="edit">
                            <f:param name="inventarioId" value="#{inventario.id}" />
                        </p:linkButton>
                        <p:linkButton value="Eliminar" style="background-color: #ff3333" outcome="delete">
                            <f:param name="inventarioId" value="#{inventario.id}" />
                        </p:linkButton>
                    </p:column>
                </p:dataTable>
                
                
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

