<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Editar Activo - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true"
                          closable="true" collapsible="true" style="background: azure">
                <p:panel id="headerPnl" header="EDITAR ACTIVO" style="background: #0066cc"></p:panel>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                                                
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
            
            <p:layoutUnit position="center" style="background: black">
                EDITAR ACTIVO
                <h:form>
                    <p:panel header="Editar Activo">
                        <p:panelGrid columns="2" layout="grid">
                            <p:outputLabel for="activoCirculante-id" value="Id:"/>
                            <p:inputText
                                id="activoCirculante-id"
                                value="#{activoCirculanteBean.activoCirculante.id}" disabled="true"/>
                            
                            <p:outputLabel for="activoCirculante-desc" value="Descripcion:"/>
                            <p:inputText
                                id="activoCirculante-desc"
                                value="#{activoCirculanteBean.activoCirculante.descripcion}"/>
                            
                            <p:outputLabel for="activoCirculante-valor" value="Valor:"/>
                            <p:inputNumber decimalPlaces="2"
                                id="activoCirculante-valor"
                                value="#{activoCirculanteBean.activoCirculante.valor}"/>
                            
                            <p:commandButton value="Editar"
                                             action="#{activoCirculanteBean.edit()}" ajax="false"/>
                            <p:linkButton value="Cancelar" style="background-color: crimson" href="index.xhtml" />
                            <p:inputText type="hidden" value="#{activoCirculanteBean.activoCirculante.id}" />
                        </p:panelGrid>
                    </p:panel>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

