<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Editar Stock - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true"
                          closable="true" collapsible="true" style="background: azure">
                <p:panel id="headerPnl"  style="background: #99ccff">
                    <h2>EDITAR STOCK</h2>
                </p:panel>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                                                
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
            
            <p:layoutUnit position="center" style="background: black">
                EDITAR STOCK
                <!-- para mostrar mensaje -->
                <p:growl id="growl" showDetail="true" life="5000" />
                <h:form>
                    <p:panel header="Editar Stock">
                        <p:panelGrid columns="2" layout="grid">
                            <p:outputLabel for="stock-id" value="id:"/>
                            <p:inputText disabled="true"
                                id="stock-id"
                                value="#{stockBean.stock.id}" />
                                
                            <p:outputLabel for="stock-date" value="Fecha Modificacion" />
                            <p:calendar
                                value="#{stockBean.stock.fechaMod}"
                                id="stock-date" pattern="dd/MM/yyyy" />
                            
                            <p:outputLabel for="stock-invId" value="Descripcion:" />
                            <p:selectOneMenu
                                id="stock-invId" 
                                value="#{stockBean.stock.inventario.id}" >
                                
                                <f:selectItem itemValue="null" itemLabel="-- Seleccione --"/>
                                <f:selectItems 
                                    value="#{stockBean.listaInventario}"
                                    var="inventario" itemValue="#{inventario.id}"
                                    itemLabel="#{inventario.descripcion}" />
                                
                            </p:selectOneMenu>
                            
                            <p:outputLabel for="stock-ubicacion" value="Ubicación"/>
                            <p:inputText 
                                id="stock-ubicacion"
                                value="#{stockBean.stock.ubicacion}" />
                            
                            <p:outputLabel for="stock-precio" value="Precio:"/>
                            <p:inputNumber 
                                id="stock-precio"
                                decimalPlaces="2"
                                value="#{stockBean.stock.precio}" />
                            
                           
                            
                            <p:commandButton value="Editar"
                                             action="#{stockBean.edit()}" ajax="false" />
                            <p:linkButton value="Cancelar" href="index.xhtml" />
                            <p:inputText type="hidden" value="#{stockBean.stock.id}" />
                        </p:panelGrid>
                    </p:panel>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

