<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Eliminar Empleado - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        
        <p:layout fullPage="true">
            
            <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                ELIMINAR EMPLEADO
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                                                
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
            
            <p:layoutUnit position="center" size="100" resizable="true" closable="true" collapsible="true">
                <h:form>
                    <p:panel header="Eliminar Empleado">
                        <p:panelGrid columns="2" layout="grid">
                            <p:outputLabel value="Id:" />
                            <h:outputText value="#{empleadoBean.empleado.id}" />
                            <p:outputLabel value="Nombres:" />
                            <h:outputText value="#{empleadoBean.empleado.nombre}" />
                            <p:outputLabel value="Apellidos:" />
                            <h:outputText value="#{empleadoBean.empleado.apellido}" />
                            <p:outputLabel value="Telefono:" />
                            <h:outputText value="#{empleadoBean.empleado.telefono}" />                            
                            <p:commandButton
                                value="Eliminar" style="background-color: red"
                                action="#{empleadoBean.delete()}" ajax="false"/>
                            <p:linkButton value="Cancelar" href="index.xhtml" />
                            <p:inputText type="hidden" value="#{empleadoBean.empleado.id}" />
                        </p:panelGrid>
                    </p:panel>
                </h:form>
            </p:layoutUnit>
            
        </p:layout>
    </h:body>
</html>

