<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Crear usuario - Sistema de gestión de Activos</title>
    </h:head>
    <h:body>
        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true"
                          closable="true" collapsible="true" style="align-content: center">
                <p:panel id="headerPnl" style="background-color: #99ccff">
                <h2>CREAR USUARIO</h2>
                </p:panel>
            </p:layoutUnit>
            
            <p:layoutUnit position="west" size="250" header="Ocultar" 
                          collapsible="true">
                <p:menu>
                    <p:submenu label="Administrar">
                        <p:menuitem value="Usuarios" outcome="/usuario/index"/>
                        <p:menuitem value="Activos Circulante" outcome="/activocirculante/index"/>
                        <p:menuitem value="Activos fijos" outcome="/activofijo/index"/>
                        <p:menuitem value="Roles" outcome="/rol/index"/>
                        <p:menuitem value="Empleados" outcome="/empleado/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Consultar activos">
                        <p:menuitem value="Corrientes" outcome="/activocirculante/index"/>
                        <p:menuitem value="Fijos" outcome="/activofijo/index"/>
                    </p:submenu>
                </p:menu>
                <p:menu>
                    <p:submenu label="Stock">
                        <p:menuitem value="Inventario" outcome="/inventario/index"/>
                        <p:menuitem value="Stock" outcome="/stock/index"/>
                                                
                    </p:submenu>
                </p:menu>
                 
            </p:layoutUnit>
         
            <p:layoutUnit position="center">
                <!-- para mostrar mensaje -->
                <p:growl id="growl" showDetail="true" life="5000" />
                <h:form>
                    <p:panel header="Crear Usuario">
                        <p:panelGrid columns="2" layout="grid">
                            
                            <p:outputLabel for="usuario-id" value="id:"/>
                            <p:inputText disabled="true"
                                id="usuario-id"
                                value="#{usuarioBean.usuario.id}" />
                            <p:outputLabel for="usuario-rol" value="Rol:" />
                            <p:selectOneMenu
                                id="usuario-rol" 
                                value="#{usuarioBean.usuario.rol.id}" >
                                
                                <f:selectItem itemValue="null" itemLabel="-- Seleccione --"/>
                                <f:selectItems 
                                    value="#{usuarioBean.roles}"
                                    var="rol" itemValue="#{rol.id}"
                                    itemLabel="#{rol.descripcion}" />
                                
                            </p:selectOneMenu>
                            
                            <p:outputLabel for="usuario-empleado" value="Empleado:" />
                            <p:selectOneMenu id="usuario-empleado" 
                                             value="#{usuarioBean.usuario.empleado.id}" >
                                
                                <f:selectItem itemValue="" itemLabel="-- Seleccione --"/>
                                <f:selectItems 
                                    value="#{usuarioBean.empleados}"
                                    var="empleado" itemValue="#{empleado.id}"
                                    itemLabel="#{empleado.nombre} #{empleado.apellido}" />
                                
                            </p:selectOneMenu>
                            
                            <p:outputLabel for="usuario-usuario" value="Nombre de usuario:"/>
                            <p:inputText
                                id="usuario-usuario"
                                value="#{usuarioBean.usuario.usuario}" />
                            
                            <p:outputLabel for="usuario-contrasena" value="Contraseña:"/>
                            <p:password id="usuario-contrasena" value="#{usuarioBean.usuario.contrasena}"/>
                            
                            <p:outputLabel for="usuario-estado" value="Estado:"/>
                            <p:selectBooleanCheckbox
                                id="usuario-estado" itemLabel="Activo"
                                value="#{usuarioBean.usuario.activo}" />
                            
                        </p:panelGrid>
                            <p:commandButton value="Crear" style="background-color: greenyellow"
                                             action="#{usuarioBean.create()}" ajax="false"/>
                            <p:linkButton value="Cancelar" style="background-color: red; color: black" href="index.xhtml" />
                    </p:panel>
                </h:form>
            </p:layoutUnit>
        </p:layout>
    </h:body>
</html>

